body {
  border: solid red 2px;
  margin: 0 95px;
}

table {
  border: solid 1px black;
  width: 50%;
  table-layout: fixed;
  border-collapse: separate;
  width: 1000px;
  height: 50px;
  margin-left: 35px;
}
th {
  border: solid 1px black;
  background-color: burlywood;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 1px 2px grey;
}
td {
  border: solid 1px black;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  background-color: lightslategray;
}
.img {
  width: 300px;
  margin-left: 383px;
  position: static;
}
h1 {
  text-align: center;
  left: 250px;
  margin: 15px;
  text-decoration: underline;
}
.form {
  margin-left: 430px;
  font-weight: 700;
  display: inline-block;
}
.name:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.address:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.phone:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.email:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.model {
  width: 200px;
  padding: 10px;
  font-weight: bold;
  border: solid red 1px;
  box-shadow: 1px 1px tomato;
  background-color: #e5e5e5;
}
.model:hover {
  background-color: #bbbbbb;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.color {
  width: 200px;
  padding: 10px;
  font-weight: bold;
  border: solid red 1px;
  box-shadow: 1px 1px tomato;
  background-color: #e5e5e5;
}
.color:hover {
  background-color: #bbbbbb;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.payment {
  width: 200px;
  padding: 10px;
  font-weight: bold;
  border: solid red 1px;
  box-shadow: 1px 1px tomato;
  background-color: #e5e5e5;
}
.payment:hover {
  background-color: #bbbbbb;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
input {
  width: 200px;
  padding: 10px;
  background-color: #e5e5e5;
  border: solid red 1px;
  box-shadow: 1px 1px tomato;
}
input:hover {
  background-color: #bbbbbb;
}

textarea {
  border: solid red 1px;
  box-shadow: 1px 1px tomato;
  background-color: #e5e5e5;
  font-weight: bold;
}
textarea:hover {
  background-color: #bbbbbb;

  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
h2 {
  text-align: center;
  margin-left: 100px;
  background-color: slategrey;
  color: #fff;
  font-weight: 900;
  width: 80%;
  height: 2.75rem;
  font-size: 2rem;
  padding-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
}
#submit {
  width: 150px;
  height: 35px;
  background-color: #e5e5e5;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}
#submit:hover {
  background-color: #bbbbbb;
  color: #fff;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
#copy {
  color: #fff;
  margin-left: 50px;
  display: inline;
}
#copy:hover {
  color: #bbbbbb;
}
